<h3 *ngIf="accIsLoading"><i>Loading ... </i></h3>
<div class="col-fixed-700">
  <div *ngIf="userProfile">
    <div class="row">
      <div class="col">
        <h5>My profile</h5>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <uacc-card *ngIf="!onEditFlag" [profile]="userProfile" (onEdit)="onEdit($event)" ></uacc-card>

          <uacc-card-edit *ngIf="onEditFlag" [profile]="userProfile" (onEdit)="onEdit($event)"></uacc-card-edit>
      </div>
    </div>
  </div>
</div>
