<div class="card">
  <div class="card-header">
    <div class="btn-holder pull-left">
      <a class="btn btn-block" (click)="emitChatWindowEvent('openChatThreads')">
        <i class="fa fa-angle-left fa-2x" style="margin-top:3px" aria-hidden="true"></i>
      </a>
    </div>
    <div class="row pull-left">
      <div class="col">
        <div class="text-nowrap chat-body-title">
          <span>{{currentThread.name}}</span>
        </div>
      </div>
    </div>
    <div class="btn-holder pull-right">
      <a class="btn btn-block close-btn" (click)="emitChatWindowEvent('closeChat')">
        <p>✖</p>
      </a>
    </div>
  </div>
  <div class="card-block chat-w-c">
    <div class="chat-window-container">
      <div class="chat-window">
        <div class="panel-container">
          <div class="panel panel-default">
            <div class="panel-body msg-container-base">
                <chat-message
                  *ngFor="let message of messages | async"
                  [message]="message">
                </chat-message>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer">
    <div contenteditable="true" class="chat-input" #chatInput (keydown.enter)="onEnter(chatInput.textContent); chatInput.textContent = ''"></div>
  </div>
</div>
