/* latin / Cyrillic*/
@font-face {
  font-family: 'Raleway Cyrillic';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/Raleway-Light.ttf') format('truetype');
}
/* latin / Cyrillic*/
@font-face {
  font-family: 'Raleway Cyrillic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Raleway-Regular.ttf') format('truetype');
}
/* latin / Cyrillic*/
@font-face {
  font-family: 'Raleway Cyrillic';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Raleway-Bold.ttf') format('truetype');
}
