
body {
	background: #f4f4f4;
  -ms-overflow-style: scrollbar;
}

body, input, select, textarea {
	color: #646464;
	font-family: "Raleway Cyrillic", Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: 300;
	line-height: 1.8;
	/*letter-spacing: 0.1em;*/
}

label, p {
	color: #646464;
	font-family: "Raleway Cyrillic", Helvetica, sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.upper {
	text-transform: uppercase;
}

.lower {
	text-transform: lowercase;
}

.bold {
	font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
		color: #646464;
		font-family: "Raleway Cyrillic", Helvetica, sans-serif;
		font-weight: 400;
		letter-spacing: 0.25em;
		line-height: 1.65;
		margin: 0 0 0.5em 0;
		text-transform: uppercase;
	}

.avatar {
	 width: 6rem;
	 border: solid 2px white;
}

.avatar-sm {
  width: 3rem;
}

a {
	-moz-transition: color 0.2s ease, border-bottom-color 0.2s ease;
	-webkit-transition: color 0.2s ease, border-bottom-color 0.2s ease;
	-ms-transition: color 0.2s ease, border-bottom-color 0.2s ease;
	transition: color 0.2s ease, border-bottom-color 0.2s ease;
	color: inherit;
	text-decoration: none;

	font-family: "Raleway Cyrillic", Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: 400;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}

a:before {
	-moz-transition: color 0.2s ease;
	-webkit-transition: color 0.2s ease;
	-ms-transition: color 0.2s ease;
	transition: color 0.2s ease;
}

a:hover {
	border-bottom-color: transparent;
	color: #79a7d3;
	text-decoration: none !important;
}

a:hover:before {
	color: #79a7d3 !important;
}

a.akvilor {
	font-family: "Raleway Cyrillic", Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: 800;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	cursor: pointer;
}

/* === Bootstrap Customs === */
.form-control {
	border-radius: 0px;
}

.btn {
	border-radius: 0px;
	font-family: "Raleway Cyrillic", Helvetica, sans-serif;
	font-size: 0.6em;
	text-transform: uppercase;
	letter-spacing: 0.25em;
}

.left {
	float: left;
}

.right {
	float: right;
}

.close-btn {
	color: #777;
	font: 14px/100% arial, sans-serif;
	text-decoration: none;
	text-shadow: 0 1px 0 #fff;
	padding-right: 0.7rem;
}

.close-btn p {
	margin-top: 0.19rem;
	margin-bottom:0px;
}
