<div class="container-fluid" id="intro">

	<div class="row justify-content-center">
		<div class="col-lg-5 col-md-9 col-sm-12">
			<a href="#" class="logo"><img src="../assets/images/logo.jpg" alt="" /></a>
			<header>
				<p>What do you want to know?</p>
			</header>
			<form ng-submit="goFind()">
				<input #term (keyup)="search(term.value)" class="form-control" placeholder=""/>
			</form>
		</div>
	</div>

	<div class="row justify-content-center" style="margin-top: 2em" *ngIf="items">
		<div class="card-columns" style="margin: 0 auto; max-width: 100em">
			<search-item *ngFor="let item of items| async"
				[data]="item"
				(likeRequest)="like($event)">
			</search-item>
		</div>
	</div>

</div>
