.btn-block {
  cursor: pointer;
}

#card-empty-header {
  min-height: 10rem;
  border-bottom: solid 1px rgba(0,0,0,.125);
  padding-bottom: 3rem;
  background: #e1e6f0;
}

#avatar-bur {
  -webkit-filter: blur(70px);
  filter: blur(70px);
}

.card-img-overlay * {
  color: white;
}



.darken {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    )
}

.darken-img {
  -webkit-filter: grayscale;
  -webkit-filter: brightness(70%);
}
