.card-img-overlay * {
  color: white;
}

.darken {
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    )
}

.darken-img {
  -webkit-filter: grayscale;
  -webkit-filter: brightness(70%);
}
