<div>
  <!-- <h1 md-dialog-title>Dialog</h1> -->
  <div md-dialog-content>
    <form [formGroup]="accForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="center-block upper">First Name
              <input class="form-control" formControlName="firstName">
            </label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="center-block upper">Last Name
              <input class="form-control" formControlName="lastName">
            </label>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="center-block upper">Headline
          <input class="form-control" formControlName="title">
        </label>
      </div>

      <div class="form-group">
        <label class="center-block upper">Overview
          <textarea class="form-control" formControlName="overview"></textarea>
        </label>
      </div>

      <div class="form-group">
        <label class="center-block upper">Skills
          <input class="form-control" formControlName="skills">
        </label>
      </div>

      <div class="row">
        <div class="col-md-3 pull-right">
          <div class="form-group">
            <label class="center-block upper">Rate
              <input class="form-control" formControlName="ratePerMinute">
            </label>
          </div>
        </div>
      </div>

      <div style="margin-bottom: 1em">
        <button type="button"
                class="btn btn-default right" (click)="closeEditForm()">Cancel</button> &nbsp;
        <button type="submit"
                [disabled]="accForm.pristine" class="btn btn-default right" style="margin-right: 10px">Save</button> &nbsp;
      </div>
    </form>
  </div>
</div>
