<div class="uacc-card" (mouseenter)="onHover()" (mouseleave)="onBlur()">
  <a class="edit-btn" *ngIf="suggestToEdit" (click)="openEditDialog()">
    <div class="cc">
      <svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0">
        <g class="large-icon" style="fill: currentColor">
          <path d="M21.71,5L19,2.29a1,1,0,0,0-1.41,0L4,15.85,2,22l6.15-2L21.71,6.45A1,1,0,0,0,22,5.71,1,1,0,0,0,21.71,5ZM6.87,18.64l-1.5-1.5L15.92,6.57l1.5,1.5ZM18.09,7.41l-1.5-1.5,1.67-1.67,1.5,1.5Z"></path>
        </g>
      </svg>
    </div>
  </a>
  <div id="r1" class="br-bottom">
    <div id="c1" class="left">
      <img class="avatar avatar-lg" src="assets/images/avatar1.jpg">
    </div>
    <div class="left">
      <div>
        <h5 class="bold">Maksym Kovalenko</h5>
      </div>
      <div>
        <label class="bold">Software Engineer</label>
      </div>
      <div>
        <label>local time</label>
      </div>
      <div>
        <label>#Python #javascript</label>
      </div>
    </div>
    <div class="right">
      <h4 class="lower">$10.00 /min</h4>
    </div>
  </div>
  <div>
    <h6 class="akv bold">Overview</h6>
  </div>
  <div>
    <p>
      For some people, the accelerated learning process is continuous. But for most, it levels off when they get their first job. If there are no more exams to take, if there's no demand to get out paper and pencil, why read any more books? Of course, you will learn some things through experience. Just getting out there—sometimes doing it wrong and sometimes doing it right—you will learn
    </p>
  </div>

</div>
