<!-- <div class="chat-room">
  <h1>Chat Room</h1>
  <button>asddd5</button>
</div> -->

<div class="chat-container">

  <div class="chat-header">
    <div class="left">
      <div class="h-l-cnt">
        <h1 class="chat-room-title">' title '</h1>
      </div>
    </div>
    <div class="right">
      <div class="h-r-cnt">
        <i class="fa fa-minus"></i>
        <i class="fa fa-times"></i>
      </div>
    </div>
  </div>

  <div class="chat-pannel">
    <i class="fa fa-phone-square"></i>
    <i class="fa fa-comment"></i>
    <i class="fa fa-user-plus"></i>
  </div>

  <div class="chat-body-cnt">
    <div class="chat-body">
      <ol class="discussion">

        <li class="message-box-left">
          <div class="avatar">
            <img src="assets/images/avatar.jpg" />
          </div>
          <div class="log">
            <p class="chat-message">message text</p>
          </div>
        </li>

        <li class="message-box-right">
          <div class="messages-right">
            <p class="chat-message">message text</p>
            <time class="chat-message-time"></time>
          </div>
        </li>

        <li class="message-box-left">
          <div class="avatar">
            <img src="assets/images/avatar.jpg" />
          </div>
          <div class="messages-left">
            <p class="chat-message">message text</p>
            <time class="chat-message-time"></time>
          </div>
        </li>

      </ol>
    </div>
  </div>

  <div contenteditable="true" class="chat-input">
  </div>

</div>
