.chatViewContainer {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
}

main-page{
  display: inline;
  height: 100%;
}

.btn-link {
  border-bottom: 0;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

#main-tape {
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  -moz-transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;

  padding: 4.5em;
  margin: 0 auto;
  max-width: 90em;
  min-width: 470px;
}

/* HEADER */
#header {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	background-color: #ffffff;
	border-bottom: solid 1px rgba(160, 160, 160, 0.3);
	height: 3.5em;
	left: 0;
	line-height: 3.5em;
	position: fixed;
  padding-left: 1.5em;
  padding-right: 1.5em;
	top: 0;
	width: 100%;
	z-index: 10000;
}

#header a {
	color: inherit;
	text-decoration: none;
}

#header ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
	text-align: right;
}

#header ul li {
	display: inline-block;
	padding-left: 0;
}

#header h1 {
	height: inherit;
	line-height: inherit;
	padding: 0 0 0 1.5em;
	white-space: nowrap;
}

#header h1.right{
	border-left: solid 1px rgba(160, 160, 160, 0.3);
	margin: 0 1em 1em 0;
}

#header h1 a {
	font-size: 0.7em;
}

#header .links  {
	-moz-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: inherit;
	line-height: inherit;
	margin-left: 1.5em;
  margin-right: 1.5em;
  border-left: solid 1px rgba(160, 160, 160, 0.3);
  border-right: solid 1px rgba(160, 160, 160, 0.3);
	padding-left: 1.5em;
	padding-right: 1.5em;
  overflow: hidden;
	/*text-align: center;
	position: initial;*/
}

#header .links ul li {
	border-left: solid 1px rgba(160, 160, 160, 0.3);
	line-height: 1;
	margin-left: 1em;
	padding-left: 1em;
}

#header .links ul li:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}

#header .links ul li a {
	border-bottom: 0;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: 400;
	letter-spacing: 0.25em;
	text-transform: uppercase;
}

#header .main {
	height: inherit;
	line-height: inherit;
	text-align: right;
}

#header .main ul {
	height: inherit;
	line-height: inherit;
}

#header .main ul li {
	border-left: solid 1px rgba(160, 160, 160, 0.3);
	height: inherit;
	line-height: inherit;
	white-space: nowrap;
}

#header .main ul li > * {
	display: block;
	float: left;
}

#header .main ul li.menu  > a, #header .main ul li.search > a {
	text-decoration: none;
	border-bottom: 0;
	color: #aaaaaa;
	overflow: hidden;
	position: relative;
	text-indent: 4em;
	width: 4em;
}

#header .main ul li.sign  > a {
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: 800;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 0;
	color: #3c3b3b;
	overflow: hidden;
	position: relative;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

#header .main ul li > a:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}

#header .main ul li > a:before {
	display: block;
	height: inherit;
	left: 0;
	line-height: inherit;
	position: absolute;
	text-align: center;
	text-indent: 0;
	top: 0;
	width: inherit;
}

#header form {
	margin: 0;
}

#header form input {
	display: inline-block;
	height: 2.5em;
	position: relative;
	top: -2px;
	vertical-align: middle;
}

#header #search{
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
	max-width: 0;
	opacity: 0;
	overflow: hidden;
	padding: 0;
	white-space: nowrap;
}

#header #search input {
	width: 12em;
}

#header #search.visible {
	max-width: 12.5em;
	opacity: 1;
	padding: 0 0.5em 0 0;
}

@media screen and (max-width: 980px) {

  #header .links {
  /*display: none;*/
  }

  #header h1.right {
  /*border-left: none;*/
  }

}

@media screen and (max-width: 736px) {

  #header {
  	height: 2.75em;
  	line-height: 2.75em;
  }

  #header h1 {
  	padding: 0 0 0 1em;
  }

  #header .main .search {
  	display: none;
  }
}

  /* Menu */

#menu {
	-moz-transform: translateX(25em);
	-webkit-transform: translateX(25em);
	-ms-transform: translateX(25em);
	transform: translateX(25em);
	-moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
	-webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
	-ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
	transition: transform 0.5s ease, visibility 0.5s;
	-webkit-overflow-scrolling: touch;
	background: #ffffff;
	border-left: solid 1px rgba(160, 160, 160, 0.3);
	box-shadow: none;
	height: 100%;
	max-width: 80%;
	overflow-y: auto;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	width: 25em;
	z-index: 10002;
}

  	#menu > * {
  		border-top: solid 1px rgba(160, 160, 160, 0.3);
  		padding: 3em;
  	}

  		#menu > * > :last-child {
  			margin-bottom: 0;
  		}

  	#menu > :first-child {
  		border-top: 0;
  	}

  	#menu .links {
  		list-style: none;
  		padding: 0;
  	}

  		#menu .links > li {
  			border: 0;
  			border-top: dotted 1px rgba(160, 160, 160, 0.3);
  			margin: 1.5em 0 0 0;
  			padding: 1.5em 0 0 0;
  		}

  			#menu .links > li a {
  				display: block;
  				border-bottom: 0;
  			}

  				#menu .links > li a h3 {
  					-moz-transition: color 0.2s ease;
  					-webkit-transition: color 0.2s ease;
  					-ms-transition: color 0.2s ease;
  					transition: color 0.2s ease;
  					font-size: 0.7em;
  				}

  				#menu .links > li a p {
  					font-family: "Raleway", Helvetica, sans-serif;
  					font-size: 0.6em;
  					font-weight: 400;
  					letter-spacing: 0.25em;
  					margin-bottom: 0;
  					text-decoration: none;
  					text-transform: uppercase;
  				}

  				#menu .links > li a:hover h3 {
  					color: #79a7d3;
  				}

  			#menu .links > li:first-child {
  				border-top: 0;
  				margin-top: 0;
  				padding-top: 0;
  			}

  	body.is-menu-visible #menu {
  		-moz-transform: translateX(0);
  		-webkit-transform: translateX(0);
  		-ms-transform: translateX(0);
  		transform: translateX(0);
  		visibility: visible;
  	}

  	@media screen and (max-width: 736px) {

  		#menu > * {
  			padding: 1.5em;
  		}

  	}

    /* List */
    ol {
    	list-style: decimal;
    	margin: 0 0 2em 0;
    	padding-left: 1.25em;
    }

    	ol li {
    		padding-left: 0.25em;
    	}

    ul {
    	list-style: disc;
    	margin: 0 0 2em 0;
    	padding-left: 1em;
    }

    	ul li {
    		padding-left: 0.5em;
    	}

    	ul.alt {
    		list-style: none;
    		padding-left: 0;
    	}

    		ul.alt li {
    			border-top: solid 1px rgba(160, 160, 160, 0.3);
    			padding: 0.5em 0;
    		}

    			ul.alt li:first-child {
    				border-top: 0;
    				padding-top: 0;
    			}

    	ul.icons {
    		cursor: default;
    		list-style: none;
    		padding-left: 0;
    	}

    		ul.icons li {
    			display: inline-block;
    			padding: 0 1em 0 0;
    		}

    			ul.icons li:last-child {
    				padding-right: 0;
    			}

    			ul.icons li > * {
    				text-decoration: none;
    				border: 0;
    			}

    				ul.icons li > *:before {
    					-moz-osx-font-smoothing: grayscale;
    					-webkit-font-smoothing: antialiased;
    					font-family: FontAwesome;
    					font-style: normal;
    					font-weight: normal;
    					text-transform: none !important;
    				}

    				ul.icons li > * label.base {
    					display: none;
    				}

    	ul.actions {
    		cursor: default;
    		list-style: none;
    		padding-left: 0;
    	}

    		ul.actions li {
    			display: inline-block;
    			padding: 0 1.5em 0 0;
    			vertical-align: middle;
    		}

    			ul.actions li:last-child {
    				padding-right: 0;
    			}

    		ul.actions.pagination .next {
    			text-decoration: none;
    		}

    			ul.actions.pagination .next:after {
    				content: "";
    				-moz-osx-font-smoothing: grayscale;
    				-webkit-font-smoothing: antialiased;
    				font-family: FontAwesome;
    				font-style: normal;
    				font-weight: normal;
    				text-transform: none !important;
    			}

    			ul.actions.pagination .next:after {
    				content: '\f054';
    			}

    		ul.actions.pagination .previous {
    			text-decoration: none;
    		}

    			ul.actions.pagination .previous:before {
    				content: "";
    				-moz-osx-font-smoothing: grayscale;
    				-webkit-font-smoothing: antialiased;
    				font-family: FontAwesome;
    				font-style: normal;
    				font-weight: normal;
    				text-transform: none !important;
    			}

    			ul.actions.pagination .previous:before {
    				content: '\f053';
    			}

    		@media screen and (max-width: 1280px) {

    			ul.actions.pagination {
    				text-align: center;
    			}

    				ul.actions.pagination .next, ul.actions.pagination .previous {
    					min-width: 20em;
    				}

    		}

    		@media screen and (max-width: 736px) {

    			ul.actions.pagination .next, ul.actions.pagination .previous {
    				min-width: 18em;
    			}

    		}

    		ul.actions.small li {
    			padding: 0 1em 0 0;
    		}

    		ul.actions.vertical li {
    			display: block;
    			padding: 1.5em 0 0 0;
    		}

    			ul.actions.vertical li:first-child {
    				padding-top: 0;
    			}

    			ul.actions.vertical li > * {
    				margin-bottom: 0;
    			}

    		ul.actions.vertical.small li {
    			padding: 1em 0 0 0;
    		}

    			ul.actions.vertical.small li:first-child {
    				padding-top: 0;
    			}

    		ul.actions.fit {
    			display: table;
    			margin-left: -1em;
    			padding: 0;
    			table-layout: fixed;
    			width: calc(100% + 1em);
    		}

    			ul.actions.fit li {
    				display: table-cell;
    				padding: 0 0 0 1em;
    			}

    				ul.actions.fit li > * {
    					margin-bottom: 0;
    				}

    			ul.actions.fit.small {
    				margin-left: -0.5em;
    				width: calc(100% + 0.5em);
    			}

    				ul.actions.fit.small li {
    					padding: 0 0 0 0.5em;
    				}

    		@media screen and (max-width: 480px) {

    			ul.actions {
    				margin: 0 0 2em 0;
    			}

    				ul.actions li {
    					padding: 1em 0 0 0;
    					display: block;
    					text-align: center;
    					width: 100%;
    				}

    					ul.actions li:first-child {
    						padding-top: 0;
    					}

    					ul.actions li > * {
    						width: 100%;
    						margin: 0 !important;
    					}

    				ul.actions.small li {
    					padding: 0.5em 0 0 0;
    				}

    					ul.actions.small li:first-child {
    						padding-top: 0;
    					}

    		}

    	ul.posts {
    		list-style: none;
    		padding: 0;
    	}

    		ul.posts li {
    			border-top: dotted 1px rgba(160, 160, 160, 0.3);
    			margin: 1.5em 0 0 0;
    			padding: 1.5em 0 0 0;
    		}

    			ul.posts li:first-child {
    				border-top: 0;
    				margin-top: 0;
    				padding-top: 0;
    			}

    		ul.posts article {
    			display: -moz-flex;
    			display: -webkit-flex;
    			display: -ms-flex;
    			display: flex;
    			-moz-align-items: -moz-flex-start;
    			-webkit-align-items: -webkit-flex-start;
    			-ms-align-items: -ms-flex-start;
    			align-items: flex-start;
    			-moz-flex-direction: row-reverse;
    			-webkit-flex-direction: row-reverse;
    			-ms-flex-direction: row-reverse;
    			flex-direction: row-reverse;
    		}

    			ul.posts article .image {
    				display: block;
    				margin-right: 1.5em;
    				min-width: 4em;
    				width: 4em;
    			}

    				ul.posts article .image img {
    					width: 100%;
    				}

    			ul.posts article header {
    				-moz-flex-grow: 1;
    				-webkit-flex-grow: 1;
    				-ms-flex-grow: 1;
    				flex-grow: 1;
    				-ms-flex: 1;
    			}

    				ul.posts article header h3 {
    					font-size: 0.7em;
    					margin-top: 0.125em;
    				}

    				ul.posts article header .published {
    					display: block;
    					font-family: "Raleway", Helvetica, sans-serif;
    					font-size: 0.6em;
    					font-weight: 400;
    					letter-spacing: 0.25em;
    					margin: -0.625em 0 1.7em 0;
    					text-transform: uppercase;
    				}

    				ul.posts article header > :last-child {
    					margin-bottom: 0;
    				}


/* Footer */
    #footer {
    text-align: right;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-right: 1.5em;
  }

  #footer .icons {
    color: #aaaaaa;
  }

  #footer .copyright {
    color: #aaaaaa;
    font-family: "Raleway", Helvetica, sans-serif;
    font-size: 0.5em;
    font-weight: 400;
    letter-spacing: 0.25em;
    text-transform: uppercase;
  }
