<div id="сontainer">
  <div id="infoBox">
    <div id="iam">
      <strong>"I am: "</strong>{{myEasyRTCid}}
    </div>
    <button id="connectButton" [disabled]="template.connectButton.disabled" (click)="connect()">Connect</button>
    <button id="callButton" [disabled]="template.callButton.disabled" (click)="call()">Call</button>
    <button id="hangupButton" [disabled]="template.hangupButton.disabled" (click)="hangup()">Hangup</button>
    <button id="disconnectButton" [disabled]="template.disconnectButton.disabled" (click)="disconnect()">Disconnect</button>
    <br />
    <strong>Connected users:</strong>
    <div id="otherClients">
      <strong *ngFor="let easyrtcid of connectedClientsList">{{easyrtcid}}</strong>
    </div>

    <div id="acceptCallBox" [style.display]="template.acceptCallBox.display">
      <div id="acceptCallLabel"></div>
      <button id="callAcceptButton">Accept</button>
      <button id="callRejectButton">Reject</button>
    </div>
  </div>

  <div id="videos">
    <video id="local-video" class="easyrtcMirror" [ngClass]="viewState" autoplay muted volume="0"></video>
    <video id="remote-video" [ngClass]="viewState" autoplay></video>
  </div>
</div>
