
<div class="container" id="main-tape">
  <header id="header">
    <div class="row">
      <div class="col-md-12">
        <a class="akvilor" routerLink="/home" routerLinkActive="active">Akvilor</a>
      </div>
    </div>
    <nav class="links">
			<ul *ngIf="auth.authenticated()">
        <li><a routerLink="/home">back to find</a></li>
        <!-- <li><a routerLink= "/user-page/cimmerian">my page</a></li> -->
        <li><a [routerLink]="currentUserAccountLink">my page</a></li>
        <li><a [routerLink]="[{ outlets: {popup: ['compose'] } }]">test</a></li>
			</ul>
		</nav>
    <div class="row">
      <div class="col-md-12">
        <!-- <a (click)="test()">test</a> -->
        <a class="akvilor right" (click)="auth.login()" *ngIf="!auth.authenticated()">Sign In</a>
        <a class="akvilor" (click)="auth.logout()" *ngIf="auth.authenticated()">Sign Out</a>
      </div>
    </div>
	</header>

  <router-outlet></router-outlet>

  <router-outlet name="popup"></router-outlet>

  <div class="container-fluid chatViewContainer">
    <div class="row">
      <chat-room *ngFor="let chatRoom of chatRooms">{{chatRoom.chatLink}}</chat-room>
    </div>
  </div>

  <chat-video-room *ngIf="videoFrame"></chat-video-room>

  <!-- <section id="footer">
    <span id="cdSiteSeal1"><script type="text/javascript" src="//tracedseals.starfieldtech.com/siteseal/get?scriptId=cdSiteSeal1&amp;cdSealType=Seal1&amp;sealId=55e4ye7y7mb73084d1f4b0bf23f314y63xy7mb7355e4ye79161ea7b3966b2f9c"></script></span>
		<ul class="icons">
			<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="#" class="fa-rss"><span class="label">RSS</span></a></li>
			<li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
		</ul>
		<p class="copyright">&copy; MKSoft <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>. </p>
	</section> -->
</div>
